header {
    font-family: Arial;
    text-align: center;
}

body {
    margin: 0;
}

.button {
    background-color: orange;
    border: none;
    color: white;
    padding: 15px 32px;
    width: 25%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
}

.button:hover {
    background-color: yellow; 
    color: black;
}

form {
    border: 1px solid #ccc;
    padding-left: 2rem;
    margin: 2rem auto;
    width: 66%;
}

div.form_element{
    margin: 1rem;
}

label, input{
    font: 400 18pt/24pt "DINPro", "Helvetica", sans-serif;
}

input {
    border: 1px solid #ccc;
    padding: 0.25rem;
}

label {
    cursor: pointer;
    display: block;
    margin: 2rem 0;
}
label:first-child {
    margin-top: 0;
}
label:after {
    clear: both;
    display: table;
    content: " ";
}

label span.label {
    float: left;
    display: block;
    width: 20rem;
}

label input {
    float: left;
}

input[type="submit"],
input[type="button"],
input[type="reset"] {
    cursor: pointer;
    padding: 0.5rem 2rem;
    /*margin-left: 10rem;*/
}
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover {
    background-color: #f3f3f3;
}
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {
    border-color: #999;
    background-color: #ccc;
}

input:invalid {
  outline: 2px solid red;
  background-color: #FFC6B3;
}

#gh {
	border: 1px solid #ccc;
    padding-left: 2rem;
	padding-bottom: 2rem;
    margin: 2rem auto;
    width: 66%;
}

#ghImg {
	max-height: 15%;
	max-width: 30%;
}
